<% include ../application/_header.ejs %>


<% include ../application/_navbar.ejs %>

<div id="auth">
<div class="auth-box">
			<h2>Login</h2><br>

			<% include ../application/_flash.ejs %>

			
			<form action="/login" method="post">
				<div class="field">
					<div class="control">
								<input class="input" type="email" name="username" placeholder="email address" >
					</div>
				</div>
				<div class="field">
					<div class="control">
									<input class="input" type="password" name="password" placeholder="password" >
					</div>
				</div>
				<div class="forgot-password is-size-7"><a href="/forgot">Forgot Password?</a></div><br>
				<input class="button" value="Login" type="submit"></input>
			</form>
			<br>
			
			<a href="/signup">Sign Up</a>

		</div>
</div>

<% include ../application/_footer.ejs %>
