<% include ./application/_header.ejs %>
 
  </section>
  <section id="homepage-hero" class="hero is-fullheight-with-navbar has-text-centered">

    <div class="hero-head">

        <% include ./application/_navbar.ejs %>

    </div>
    <div class="hero-body">
      <div class="container">
          <div class="columns hero-ctas">
            <!-- <div class="column is-3">
                <img id="hero-logo" src="/images/notebook.png" style="height:100px; width:100px">
            </div> -->
              <div class="column is-12" id="hero-cta-content">
                <h1 class="title" id="hero-title"><%= site.title %>
                  </h1>
                <!-- <h2 class="subtitle is-4">(Financial Independence, Retire Early)</h2> -->
              <div id="hero-subtitle">
                      <p class="subtitle font-accent"><%= site.description %></p>
              </div>
              <br>

      <div class="get-started">
        <a href="/signup" class="button">Get Started</a>
      </div>
      </div>
    </div>
  </section>

  <% include ./application/_footer.ejs %>