<% include ./application/_header.ejs %>


<% include ./application/_navbar.ejs %>

<div id="auth">
<div class="auth-box">

		<% if ( message.length > 0 ) { %>
			<div class="flash"><%= message %></div>
		<% } %>
		
	<h2>Sign Up</h2><br>
<form action="/signup" method="post">
	<div class="field">
		<div class="control">
			<input class="input" type="email" name="username" placeholder="email address" >
		</div>
	</div>
	<div class="field">
		<div class="control">
			<input class="input" type="password" name="password" placeholder="password" >
		</div>
	</div>
	<input class="button" type="submit"></input>
</form>
<br>
<a href="/login">Login</a>
</div>



</div>

<% include ./application/_footer.ejs %>
