<div id="flash-alerts">

<% if(flashes.info) { %>
    <div class="flash info"><%= flashes.info %></div>
<% } %>

<% if(flashes.error) { %>
    <div class="flash error"><%= flashes.error %></div>
<% } %>

<% if(flashes.success) { %>
    <div class="flash success"><%= flashes.success %></div>
<% } %>

</div>
<br>

