<!DOCTYPE html>
<html>
  <head>
    <title><%= site.title %></title>
    <meta name="description" content="<%= site.description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/bulma.css">
    <link type="text/css" rel="stylesheet" href="/css/app.css">
    <link rel="shortcut icon" type="image/png" href="/images/favicon-16x16.png"/>
    <link href="https://fonts.googleapis.com/css?family=Heebo:900|Roboto+Slab" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script async src=" https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= google_analytics.UA %>"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
function gtag() {
  dataLayer.push(arguments);
}
gtag('js', new Date());

gtag('config', '<%= google_analytics.UA %>');
</script>
  </head>
<body>
