
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/images/notebook.png">
          </a>
          <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
        </div>
      </div>
    
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
                    <% if(user) { %>
                      <div class="navbar-item">
                        <a class="accent bold" href="/write">Write</a>
                      </div>
                      <div class="navbar-item">
                        <a class="accent bold" href="/logout">Logout</a>
                      </div>
                    <% } %>
                    <% if(user && user.stripe_customer_id) { %>
                      <div class="navbar-item">
                          <a class="accent bold" href="/user/<%= user.id %>/subscriptions">Subscription</a>
                        </div>
                      <% } %>
                  <% if(!user) { %>
                    <div class="navbar-item">
                      <a class="accent" href="/login">Login</a>
                    </div>
                    <div class="navbar-item">
                        <a class="accent bold" href="/plans">Plans</a>
                      </div>
                  <% } %>
     
          </div>
        </div>
      </div>
    </nav>
  